<!DOCTYPE html>
<html>
  <head>
    <title>Tickets Translation</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Tickets Translation</a>
      <button type="button" class="btn btn-info" onclick="loadFile();">Upload existing translations</button>
      <input id="file-input" type="file" name="name" style="display: none;" />
    </nav>

    <div class="container" style="padding-top: 20px; padding-bottom: 100px">
      <div class="row">
        <div class="col-md-12">
          <div class="alert alert-info" role="alert">
            Please refer to <a href="https://github.com/TicketsBot/database/blob/master/translations/messageid.go">this file</a>: it contains all the English translations, as well as information regarding placeholders, etc.
          </div>
          <div class="alert alert-info" role="alert">
            <code>\n</code> can be used for line breaks. When using placeholders, copy from the file above. Generally, <code>%s</code> is a string and <code>%d</code> is an integer.
            <br>
            For example, <code><@%d></code> can be used to mention a user (but only if the message supports it!)
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <form method="post" action="/json">
            {{- $root := . -}}
            {{range $name, $id := .messages}}
              <div class="form-group">
                <label for="{{ $id }}">{{ $name }}</label>
                <input class="form-control" name="{{ $id }}" value="{{ index $root.english $id }}">
              </div>
            {{end}}

            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>

    <script>
      function loadFile() {
          document.getElementById('file-input').click();
      }

      document.getElementById('file-input').addEventListener('change', handleUpload, false);

      function handleUpload() {
          if (this.files.length > 0) {
              const upload = this.files[0];

              const reader = new FileReader();
              reader.readAsText(upload, 'UTF-8');

              reader.onload = (e) => {
                  const raw = e.target.result;
                  const parsed = JSON.parse(raw);
                  fill(parsed);
              }

              reader.onerror = (e) => {
                  alert(e);
              }
          }
      }

      function fill(data) {
          for (translation of data) {
              document.getElementsByName(translation.id)[0].value = translation.value;
          }
      }
    </script>
  </body>
</html>